.container.home.resize-fill-and-clip
	%nav.breadcrumbs
		= link_to "Au menu", controller: "static_pages"
		= link_to "Comment ca marche?", controller: "static_pages", action:"comment"
		= link_to "Quoi?", controller: "static_pages"
		= link_to "Ou?", controller: "static_pages", action:"ou"
	.logo
		%h1= "DABBA"
		%h3= "Manger un bon plat cuisiné du jour"
		%h3= "au bureau ou à la maison"
	.row
		.large-6.columns.call-to-action
		.large-6.columns.call-to-action

			= button_to "Je veux en savoir plus",{action: "index"}, form_class: "button expand [radius round]"
			= button_to "Je vis ou je travaille autour de la defense",{action: "index"}, form_class: "button expand [radius round]"
			= button_to "Je veux faire profiter de ce service à un amis ou un membre de ma famille",{action: "index"}, form_class: "button expand [radius round]"


